.About{
    padding-left: 5vh;
    padding-right: 5vh;
    padding-bottom: 10vh;
    display: flex;
    flex-direction: row;
    height: auto;
}
.paraDiv{
    width: 40vw;
    margin-left: 10vw;
}
.para{
    text-align: center;
    font-size: 18px;
}
.imgContainer{
    width: 40vw;
}
.headShot{
    transform: scalex(-1);
    height: 30vh;
    position: absolute;
    left: 65vw;
    top: 5vh;
}
.Computer{
    height: 20vh;
    margin-bottom: 5vh;
}
@media screen and (max-width: 960px) {
    .paraDiv{
        width: 100vw;
        margin-left: 3vw;
    }
    .imgContainer{
        display: none;
    }
}