/* .aboutContainer{

} */
.About{
    padding-left: 5vh;
    padding-right: 5vh;
    padding-bottom: 10vh;
    display: flex;
    flex-direction: row;
    height: auto;
}
.paraDiv{
    width: 40vw;
    margin-left: 2.5vw;
}
.para{
    text-align: center;
    font-size: 18px;
}
.imgContainer{
    width: 50vw;
}
.headShot{
    transform: scalex(-1);
    height: 30vh;
    position: absolute;
    left: 65vw;
}
.quote{
    width: 100vw;
    height: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-bottom: 5vh;
}
.quoteContainer{
    width: 60vw;
    position: relative;
    left: 20vw;
}
.Computer{
    height: 20vh;
    margin-bottom: 5vh;
}
@media screen and (max-width: 960px) {
    .paraDiv{
        width: 100vw;
    }
    .imgContainer{
        display: none;
    }
}