.welcomeScreen { 
    padding: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    height: 100%;
    top: 0rem;
}
.icons{
    display: flex;
    flex-direction: column;
    z-index: 100;
    background: transparent;
    position: fixed;
    left: 90vw;
    top: 20vh;
}
.icons a{
    background: transparent;
    padding-bottom: 1vh;
}
.iconLink{
    height: 5vh;
    left: 60vw;
    background: transparent;
}
.line1{
    width: 80vw;
    height: .2vh;
    background-color: goldenrod;
    position: relative;
    left: 20vw;
    margin-top: 1vh;
}
.line2{
    width: 80vw;
    height: .2vh;
    background-color: goldenrod;
    position: relative;
}
.title{
    position: relative;
    top: 3vh;
    left: 5vw;
    width: 50vw;
    color: goldenrod;
    margin-bottom: 5vh;
}
.welcomeText{
    background-color: rgb(50, 50, 50);
    z-index: 10;
}
.homeImg{
    position: absolute;
    z-index: 0;
    object-fit: fill;
    top: 40vh;
    left: 1rem;
    width: 100vw;
    overflow: hidden;

}
.timeOfDay{
    font-size: 5vh;
    padding: 5px;
    /* color: rgb(175, 175, 175); */
    position: relative;
    top: -10rem;
    background: transparent;
}
.Jordan{
    font-size: 8vh;
    padding: 5px;
    position: relative;
    top: -9rem;
    background: transparent;
}
.engineer{
    font-size: 5vh;
    padding: 5px;
    position: relative;
    top: -8rem;
    color: rgb(175, 175, 175);
    background: transparent;
}
.whoIam{
   font-size: 15px;
   position: relative;
   top: -7rem;
   color: rgb(175, 175, 175);
   padding: 5px;
   background: transparent;
}
.myName{
    position: relative;
    top: -8.5rem;
    padding: 5px;
    color: rgb(175, 175, 175);
    background: transparent;
}


@media screen and (max-width: 960px) {
    .homeImg{
        width: 150vw;
        top: 50vh;
        left: -20vw;
    }
    .icons{
        left: 2.5vw;
        top: 68vh;
    }
    .timeOfDay{
        font-size: 3vh;
    }
    .Jordan{
        font-size: 4vh;
    }
    .engineer{
        font-size: 3vh;
    }
}