.login{
    display:grid;
    align-items: center;
    justify-content: center;
}
input{
    -webkit-text-size-adjust: none;
}
.loginTTL{
    text-align: center;
    margin-bottom: 20px;
}
.inputs{
    align-items: center;
}
.emailPad{
    margin-left: 25px;
}
.form-control{
    margin: 10px;
    border: solid rgba(218, 165, 32, 0.75) 2px;
    border-radius: 10px;
    padding: 10px;
}
.form-control::placeholder{
    text-align: center;
}
.confirmPass{
    margin-left: 9px;
}
.errors{
    color: red;
    font-size: 15px;
}
.btn{
    width: 100%;
    font-size: 18px;
    margin: 10px;
    text-align: center;
}