.cont{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    overflow: hidden;
}
.moon{
    background-color: transparent;
    position: absolute;
    z-index: 3;
    display: flex;
    width: 70vw;
    top: -20vh;
    left: -5vw;
    opacity: .95;
}
.maintenanceContainer{
    width: 60vw;
    height: 60vh;
    align-items: center;
    text-align: center;
    z-index: 2;
    position: relative;
    top: 20vh;
    background-color: transparent;
    color: black;
}
.heading, .comeBack, .linkage{
    position: relative;
    margin-bottom: 3rem;
    text-decoration: none;
    background-color: transparent;
    z-index: 5;
    color: black;
}
.linkage{
    font-size: 1.5rem;
}
.linkage:hover{
    color: rgb(111, 80, 3);
    font-size: 1.8rem;
}
.arrow{
    font-size: 2rem;
    background-color: transparent;
    color: black;
}
.stars-container{
    z-index: 1;
}
.star {
    background-color: transparent;
    position: absolute;
    width: 20px;
    height: 20px;
    animation: fall-star 10s linear infinite;
  }
  
@keyframes fall-star {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(100%);
    }
}
@media screen and (max-width: 960px) {
    .maintenanceContainer{
        width: 70vw;
        top: 0vh;
    }
    .moon{
        width: 150vw;
        left: -35vw;
        top: -10vh;
    }
}