
.articleContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
    margin: 15px
}
.contentContainer{
    text-decoration: none;
}
.articles{
    border: 2px solid goldenrod;
    background-color: rgba(63, 63, 63, 0.7);
    margin: 10px;
    text-align: center;
    padding: 15px;
    align-items: center;
}
.articles:hover{
    background-color: rgb(104, 83, 0);
    padding: 25px;
}
.searchDiv{
    display: flex;
    align-items: center;
    justify-content: center;
}
.content{
    background-color: transparent;
}
@media screen and (max-width: 960px){
    .search{
        align-items: center;
        height: 5vh;
        width: 90vw;
        text-align: center;
        border: 1px solid rgba(218, 165, 32, 0.7);
        font-size: 20px;
        margin-left: 5vw;
    }
    .containerNews{
        overflow: hidden;
    }
    .articleContainer{
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        text-align: center;
    }
    .articles{
        overflow: hidden;
    }
}