html {
    height: 100vh;
}

body {
    height: 550vh;
    background: #000;
}

canvas {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 100vw;
    max-height: 100vh;
}

.textContainer {
    margin-top: 20px;
}

.chooseItem {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.firstSection,
.textSection {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 100vw;
    text-align: center;
    overflow: hidden;
    font-size: 50px;
}

.textSection {
    height: 100vh;
    top: 0vh;
    background: white;
}
@media (max-width: 600px) {
    .textSection {
        font-size: 25px;
    }
}

.firstSection p {
    color: rgb(158, 158, 158);
}

.firstTextContainer {
    transition: transform 0.5s ease;
    transform-origin: center;
}

.firstTextContainer.expanded {
    transform: scaleX(1.5);
}

.FindYourSound {
    font-family: 'Snell Roundhand', cursive;
}
.video { 
    z-index: 20;
}
.tv { 
    z-index: 15;
    width: 90vw;
    position: fixed;
    top: 16.5vh;
}