*{
    color: inherit;
    background-color: inherit;
}
.Project-body{
    text-align: center;
    height: 90vh;
    position: relative;
}
.ttl{
    position: relative;
    text-decoration: none;
    font-size: 5vh;
    padding: 5vh;
    color: goldenrod;
}
.links{
    text-decoration: none;
    /* color: white; */
    position: relative;
    display: block;
    top: 0vh;
    font-size: 3vh;
    padding: 5vh
}
.links:hover{
    color: goldenrod;
    cursor: crosshair !important;
}