.body {
    font-family: Arial, sans-serif;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}
form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.welcoming{
    text-align: center;
    font-size: 15px;
    margin-bottom: 5%;
}
.textBox {
    font-size: 16px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
    margin-bottom: 10px;
}
.textBox::placeholder{
    text-align: center;
}
.submit {
    background-color: rgba(218, 165, 32, 0.75);
    color: black;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 25%;
    position: relative;
    left: 75%;
}
.submit:hover {
    background-color: #006F8C;
}
.posts{
    border-radius: 10px;
    border: 2px solid goldenrod;
    padding: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 25px;
}
.creator{
    font-size: 12px;
}
.likes{
    position: absolute;
    bottom: 0px;
    right: 5px;
    display: flex;
    align-items: center;
    margin-top: auto;
    background: transparent;
}
.likeBTN{
    background: transparent;
}
.btn{
    font-family: Arial, sans-serif;
    border: none;
    height: 5vh;
    padding: 10px;
}
.btn:hover{
    background-color: goldenrod;
    color: black;
    border-radius: 10px;
}
.postText:hover::after {
    content: attr(data-date);
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    background-color: goldenrod;
    color: black;
    border-radius: 5px;
    font-size: 14px;
    font-family: Arial;
}