.studyContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: transparent;
}
.studyOne{
    width: 80vw;
    height: auto;
    background-color: transparent;
    margin: 1vh;
}
.innerOne{
    width: 40%;
    margin: 5%;
    padding: 2vh;
    border: 2px solid goldenrod;
    float: left;
    border-radius: 5vh;
}
.classTitle{
    font-size: 2vw;
    color: white;
    padding-bottom: 2vh;
    background: transparent;
}
.descriptClass{
    background: transparent;
    font-size: 1.5vw;
}
.collapse{
    display: none;
}
.show {
    display: contents;
}
.innerOne:hover {
    background: rgb(218, 165, 32, .5);
}

@media screen and (max-width: 960px) {
    .innerOne{
        width: 100%;
    }
    .classTitle{
        font-size: 4vw;
        color: white;
        padding-bottom: 1vh;
        background: transparent;
    }
    .descriptClass{
        background: transparent;
        font-size: 3.5vw;
    }
}
