.container{
    text-align: center;
    position: relative;
    top: 10vh;
    font-family: 'Georgia', serif;
}
.check{
    padding-bottom: 5vh;
}
.inputZip, .locationName, p{
    padding-bottom: 3vh;
}
.inputBox{
    background-color: rgba(71, 71, 71, 0.5);
    text-align: center;
    border: 1px solid goldenrod;
    margin-left: 3vw;
    height: 4vh;
}
.zipLabel{
    font-size: 2vh;
}
p{
    font-size: 2.5vh;
}
.weatherIcon1{
    background-color: transparent;
    position: absolute;
    left: 60%;
    top: 22vh;
}
.paddingBtm{
    height: 80vh;
}