/* WORK CSS */
.workLinks{
    display: flex;
    flex-direction: column;
    padding: 5vh;
    align-items: center;
}
.underline1{
    position: absolute;
    width: 12vw;
    height: .8vh;
    background-color: rgb(127, 108, 0);
}
.popup-overlay{
    background: transparent;
}
.workTitle{
    position:relative;
    z-index: 10;
    padding: 5vh;
    background: transparent;
}
.timeline{
    z-index: 3;
    height: 50vh;
    width: 1vw;
    background-color: rgb(127, 108, 0);
    position: absolute;
    z-index: 0;
    top: 15vh;
}
.innerWork{
    border: 2px solid white;
    background-color: rgb(50, 50, 50);
    padding: 5px;
    width: 45vw;
    height: 13vh;
    font-size: 18px;
    margin-bottom: 3vh;
    z-index: 10;
}
.innerWork:hover{
    background-color: rgb(127, 108, 0);
}
.popDiv{
    text-align: center;
    padding: 20px;
    background-color: rgb(70, 70, 70);
}
.popDiv h2 {
    background-color: transparent;
}
.popDescription{
    padding: 20px;
    font-size: 130%;
    background: transparent;
}
.ttl{
    text-decoration-line: underline;
    color: white;
    background-color: transparent;
}
.arrow{
    display: none;
}
.clickEm{
    display: none;
}
@media screen and (max-width: 960px) {
    .underline1{
        width: 40vw;
    }
    .workLinks{
        padding-top: 3vh;
    } 
    .innerWork{
        margin: 2vh;
    }
    .clickEm{
        position:relative;
        transform: rotate(270deg);
        z-index: 2;
        left: -35vw;
        top: 26vh;
    }
    .arrow{
        position:absolute;
        z-index: 1;
        height: 5vh;
        left: 18vw;
        top: 17vh;
        transform: scalex(-1) rotate(-80deg);
    }
}