/* WORK CSS */
.workLinks{
    display: flex;
    flex-direction: column;
    padding: 5vh;
    align-items: center;
}
.underline1{
    position: absolute;
    width: 12vw;
    height: .8vh;
    background-color: rgb(127, 108, 0);
}
.clickEm{
    position:absolute;
    transform: rotate(270deg);
    left: 15vw;
    top: 30vh;
    z-index: 2;
}
.arrow{
    position:absolute;
    z-index: 1;
    height: 10vh;
    left: 21.5vw;
    top: 14vh;
    transform: scalex(-1) rotate(-80deg);
}
.popup-overlay{
    background: transparent;
}
.workTitle{
    position:relative;
    z-index: 10;
    padding: 5vh;
    background: transparent;
}
.timeline{
    z-index: 3;
    height: 50vh;
    width: 1vw;
    background-color: rgb(127, 108, 0);
    position: absolute;
    z-index: 0;
    top: 30vh;
}
.innerWork{
    border: 2px solid white;
    background-color: rgb(50, 50, 50);
    padding: 5px;
    width: 45vw;
    height: 13vh;
    font-size: 18px;
    margin-bottom: 3vh;
    z-index: 10;
}
.popDiv{
    text-align: center;
    padding: 20px;
}
.popDescription{
    padding: 20px;
    font-size: 130%;
}
.ttl{
    text-decoration-line: underline;
    color: white;
    /* color: rgb(127, 108, 0); */
}

@media screen and (max-width: 960px) {
    .underline1{
        width: 40vw;
    }
    .workLinks{
        padding-top: 3vh;
    } 
    .innerWork{
        margin: 2vh;
    }
    .clickEm{
        left: 0vw;
        top: 30vh;
    }
    .arrow{
        height: 5vh;
        left: 18vw;
        top: 17vh;
        transform: scalex(-1) rotate(-80deg);
    }
}