@import url("../src/styles/globals.css");
@import url("../src/reactbits/LiquidEther.css");
@import url("../src/reactbits/TiltedCard.css");
@import url("../src/reactbits/GlassSurface.css");
@import url("../node_modules/@fortawesome/fontawesome-free/css/all.min.css");

html,
body,
#__next {
  height: 100%;
}

/* Local Meriva font for theme usage */
@font-face {
  font-family: "Meriva";
  src: url("/font/meriva.otf") format("opentype"),
    url("/font/meriva.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
