.fullscreen-true{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top right, rgb(135, 103, 20), black);
    position: fixed;
    top: 0;
    z-index: 1000;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}
.fullscreen-false{
    display: none;
}
.innerSpin{
    background-color: transparent;
    margin-top: 34vh;
}
.loadImg{
    background-color: transparent;
    height: 20vh;
    animation: loading 10s linear infinite;
    animation-direction: reverse;
    z-index: 10;
}
.loadwords{
    background: transparent;
    font-style: italic;
    font-size: 3vh;
    margin-top: 15vh;
    margin-bottom: 15vh;
}
.re{
    background: transparent;
}
.loadBackImg{
    background-color: transparent;
    height: 32vh;
    animation: loading 25s linear infinite;
    position: relative;
    top: -64vh;
    z-index: -1;
}
@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(360deg);
    }
}