*{
  color: inherit;
  background-color: inherit;
}
.navbar {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}
.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    max-width: 1500px;
    padding-left: 3vw;
}
.nav-menu {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    justify-content: end;
    margin-right: 2rem;
}
.nav-item {
    height: 80px;
}
.nav-links {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
    background-color: inherit;
}
  
.nav-links:hover {
    border-bottom: 4px solid white;
    transition: all 0.2s ease-out;
}
.fa-bars {
    color: lightgray;
}
.nav-links-mobile {
    display: none;
}
.menu-icon {
    display: none;
}
.dropdownOption::marker{
    color: transparent;
}
  @media screen and (max-width: 960px) {
    .NavbarItems {
      position: relative;
    }
    .navbar-container{
      width: 90vw;
      position: relative;
      top: -1vh;
    }
    .nav-menu {
      display:block;
      width: 100vw;
      height: 100vh;
      position: absolute;
      top: 5rem;
      left: -200vw;
      opacity: 1;
      transition: all 0.5s ease;
      padding: 20px;
      overflow: hidden;
      margin-bottom: 10rem;
      background-color: inherit;
    }
    .nav-menu.active {
      left: -5vw;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 10;
      position:absolute;
      border: 2px;
      border-radius: 5vh;
    }
    .nav-item {
        border: 2px;
        margin: 10px;
    }
    .nav-links {
      text-align: center;
      padding: 1.5rem;
      width: 100%;
      display: table;
    }
    .menu-icon {
      display: block;
      position: absolute;
      top: 1rem;
      right: -2rem;
      transform: translate(-250%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
    }
    .fa-times {
      font-size: 2rem;
    }
  }