* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Georgia', serif;
  /* overflow: hidden; */
  background-color: rgb(50, 50, 50);
  color: lightgrey;
}

.home,
.services,
.products,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.bodies{ 
  /* background-color: rgb(50, 50, 50); */
  height: 90vh;
  /* color: lightgray; */
  position: relative;
}
.smallBody{
  height: auto;
}

.work {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.studies {
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

@media screen and (max-width: 960px) {
  /* .smallBody{
    height: 75vh;
  } */
}