* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Georgia', serif;
  /* background-color: rgb(50, 50, 50); */
  background-color: black;
  color: lightgrey;
}
.bodies{ 
  height: 85vh;
  position: relative;
  overflow: hidden;
}
.smallBody{
  height: auto;
  position: relative;
  overflow: hidden;
}

.work {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.studies {
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}
